.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease-in-out;
  display: inline;
  margin: 0.5rem;
  width: 18rem;
  max-height: 25rem;
}

.card-img-top {
  margin-top: 1rem;
  width: 12rem;
  height: 12rem;
  object-fit: contain;
}

.card-body {
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-top: #f4f4f4 solid 1px;
}

.card-title {
  color: #1a1a1a;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0.5rem;
  height: 4rem;
}

.large-font{
  font-size: 1.5rem;
}

ion-icon.active{
  animation:like 0.5s 1;
  fill:red;
  stroke:none;
  visibility: visible;
}

ion-icon{
  fill:transparent;
  stroke:black;
  stroke-width:30;
  transition:all 0.5s;
  visibility: visible;
}

@-webkit-keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}