.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #2a3547;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2a3547 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-label {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: bold;

}

.form-control {
  display: inline;
  width: 50%;
  margin: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.form-control:focus {
  border: none;
  /* border-color: #2a3547; */
  box-shadow: 0 0 0 0.2rem #2a354720;
}


.btn__sort {
  border: none;
  background-color: transparent;
  color: #2a3547;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.form-select {
  display: inline;
  width: 50%;
  margin: 0.5rem;
  text-align: left;
  border: none;
  background-color: none;
}

.row__cards {
  height: 90vh;
}